@font-face {
    font-family: 'Cucumber Salad';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/CucumberSalad/CucumberSalad.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/CucumberSalad/CucumberSalad.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/CucumberSalad/CucumberSalad.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/CucumberSalad/CucumberSalad.ttf') format('truetype');
}
